<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= titulo %></title>
</head>
<style>
  body,
  html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  }
  header {
    width: 100%;
    background-color: aquamarine;
    text-align: center;
    padding: 1rem 0;
  }
  header img {
    width: min(500px, 90%);
    margin: 1rem auto;
    box-shadow: 0 5px 15px 1px #0000005a;
  }
  nav {
    width: 100%;
    background-color: black;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
  }
  a {
    color: white;
    text-decoration: none;
  }
  main {
    background-color: #f0e78c;
    padding: 1rem;
    text-wrap: balance;
  }
  .main-content {
    background-color: aliceblue;
    width: min(600px, 90%);
    border: 1px solid #000;
    box-shadow: 0 3px 10px 1px #0000005a;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem auto;
    padding-bottom: 2rem;
  }
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem auto;
  }
  .buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
  }
  .buttons-container button {
    width: 30%;
    padding: 0.4rem 0;
  }
  table {
    width: min(800px, 95%);
    margin: 2rem auto;
    box-shadow: 0 3px 10px 1px #0000005a;
  }
  input,
  select {
    width: 50%;
    padding: 0.5rem 0.2rem;
  }
  footer {
    background-color: #dc7092;
    padding: 0.5rem 0;
    text-align: center;
  }
</style>
<body>
  <%- include('partials/header.ejs') %> <%- include('partials/nav.ejs') %>
  <main>
    <% if(!isPost){ %>
    <form class="main-content" action="/calcularPago" method="post">
      <div class="input-container">
        <label for="numDocente">Núm. Docente</label>
        <input id="numDocente" type="number" name="numDocente" required/>
      </div>
      <div class="input-container">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" name="nombre" required/>
      </div>
      <div class="input-container">
        <label for="domicilio">Domicilio</label>
        <input id="domicilio" type="text" name="domicilio" required/>
      </div>
      <div class="input-container">
        <label for="nivel">Nivel</label>
        <select id="nivel" name="nivel" required>
          <option value="1">Licenciatura o Ingeniería</option>
          <option value="2">Maestro en Ciencias</option>
          <option value="3">Doctor</option>
        </select>
      </div>
      <div class="input-container">
        <label for="pagoBasePorHora">Pago base por hora impartida</label>
        <input id="pagoBasePorHora" type="number" name="pagoBasePorHora" required/>
      </div>
      <div class="input-container">
        <label for="horasImpartidas">Horas impartidas</label>
        <input id="horasImpartidas" type="number" name="horasImpartidas" required/>
      </div>
      <div class="input-container">
        <label for="cantidadHijos">Cantidad de hijos</label>
        <select id="cantidadHijos" name="cantidadHijos" required>
          <option value="0">0 hijos</option>
          <option value="1">1 o 2 hijos</option>
          <option value="2">3 a 5 hijos</option>
          <option value="3">Más de 5 hijos</option>
        </select>
      </div>
      <div class="buttons-container">
        <button class="btn btn-primary" type="submit">
          Calcular
        </button>
        <button id="btnLimpiar" type="reset">Limpiar</button>
      </div>
    </form>
    <% } else { %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Núm. Docente</th>
          <th scope="col">Nombre</th>
          <th scope="col">Domicilio</th>
          <th scope="col">Nivel</th>
          <th scope="col">Pago base por hora impartida</th>
          <th scope="col">Horas impartidas</th>
          <th scope="col">Cantidad de hijos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= numDocente %></td>
          <td><%= nombre %></td>
          <td><%= domicilio %></td>
          <td><%= nivel %></td>
          <td><%= pagoBasePorHora %></td>
          <td><%= horasImpartidas %></td>
          <td><%= cantidadHijos %></td>
        </tr>
        <br><br>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Pago por horas impartidas:</td>
          <td><%= pagoTotal %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Pago por bono(+):</td>
          <td><%= bonoPaternidad %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Pago Impuesto(-)16%:</td>
          <td><%= impuesto %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Total a pagar:</td>
          <td><%= pagoFinal %></td>
        </tr>
      </tbody>
    </table>
    <% } %>
  </main>
  <%- include('partials/footer.ejs') %>
</body>