<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=titulo%></title>
  </head>
  <body>
    <%- include('partials/header.ejs') %> <%- include('partials/nav.ejs') %>
    <main>
      <div class="main-content">
        <h2>Contacto</h2>
        <div class="contact-info">
          <p><strong>Dirección:</strong> Av. Del sol</p>
          <p><strong>Teléfono:</strong> +555 333 333</p>
          <p><strong>Correo Electrónico:</strong> 2021030143@colegiopatria.edu.mx</p>
        </div>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
