<!DOCTYPE html>
<html lang="en">
  <body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <main>
        <div class="main-content">
            <h2>Acerca de nosotros</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto inventore ullam, praesentium tempora expedita maxime exercitationem porro distinctio quia ipsam nobis saepe blanditiis excepturi eum obcaecati esse quos, alias explicabo.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde deserunt sapiente nostrum cupiditate facere repellat ex fugit voluptas, totam rem porro, iusto culpa error cumque dolore ut adipisci. A, praesentium!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis rem inventore accusantium ut quia, at molestias nisi praesentium? Sint alias ipsum quos ut hic quo obcaecati! Sapiente doloremque voluptas esse.</p>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>